<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                <img src="img/logo-white.svg" alt="" class="page-header__logo-image">
                <img src="img/logo-dark.svg" alt="" class="page-header__logo-image">
            </a>
            <div class="page-header__menu">
                <nav class="page-header__nav">
                    <a href="#" class="page-header__nav-link" data-text="Описание">
                        <div class="page-header__nav-link-text"> Описание</div>
                    </a>
                    <a href="#" class="page-header__nav-link" data-text="Применение">
                        <div class="page-header__nav-link-text"> Применение</div>
                    </a>
                    <a href="#" class="page-header__nav-link" data-text="Виды">
                        <div class="page-header__nav-link-text"> Виды</div>
                    </a>
                    <a href="#" class="page-header__nav-link" data-text="Выбрать толщину">
                        <div class="page-header__nav-link-text"> Выбрать толщину</div>
                    </a>
                    <a href="#" class="page-header__nav-link" data-text="Внешний вид">
                        <div class="page-header__nav-link-text"> Внешний вид</div>
                    </a>
                    <a href="#" class="page-header__nav-link" data-text="Свойства">
                        <div class="page-header__nav-link-text"> Свойства</div>
                    </a>
                    <a href="#" class="page-header__nav-link" data-text="Расчет стоимости">
                        <div class="page-header__nav-link-text"> Расчет стоимости</div>
                    </a>
                    <a href="#" class="page-header__nav-link" data-text=" Отзывы">
                        <div class="page-header__nav-link-text"> Отзывы</div>
                    </a>
                </nav>
            </div>
            <div class="page-header__contacts-block">

                <a href="tel:+74951299226" class="page-header__phone-link">+7 (495) 129-92-26</a>
                <p class="page-header__phone-link-text">
                    Звонок бесплатный
                </p>
                <a href="#" class="page-header__whats-app-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>