<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="#" class="page-header__logo">
                <img src="img/logo-white.svg" alt="" class="page-header__logo-image">
                <img src="img/logo-dark.svg" alt="" class="page-header__logo-image">
            </a>
            <button class="page-header__menu-open-btn">

            </button>
            <div class="page-header__menu">

                <div class="page-header__menu-inner">

                    <div class="page-header__menu-top-row">
                        <a href="#" class="page-header__menu-logo">
                            <img src="img/logo-dark.svg" alt="" class="page-header__menu-logo-image">
                        </a>
                        <button class="page-header__menu-close">
                            <svg width="14" height="14" aria-hidden="true" class="icon-menu-close">
                                <use xlink:href="#menu-close"></use>
                            </svg>
                        </button>
                    </div>
                    <nav class="page-header__nav">
                        <a href="#to-description-block" class="page-header__nav-link" data-text="Описание">
                            <div class="page-header__nav-link-text"> Описание</div>
                        </a>
                        <a href="#to-application-block" class="page-header__nav-link" data-text="Применение">
                            <div class="page-header__nav-link-text"> Применение</div>
                        </a>
                        <a href="#to-kinds-block" class="page-header__nav-link" data-text="Виды">
                            <div class="page-header__nav-link-text"> Виды</div>
                        </a>
                        <a href="#to-thickness-block" class="page-header__nav-link" data-text="Выбрать толщину">
                            <div class="page-header__nav-link-text"> Выбрать толщину</div>
                        </a>
                        <a href="#to-surface-types-block" class="page-header__nav-link" data-text="Внешний вид">
                            <div class="page-header__nav-link-text"> Внешний вид</div>
                        </a>
                        <a href="#to-why-us-block" class="page-header__nav-link" data-text="Свойства">
                            <div class="page-header__nav-link-text"> Свойства</div>
                        </a>
                        <a href="#to-calculator" class="page-header__nav-link" data-text="Расчет стоимости">
                            <div class="page-header__nav-link-text"> Расчет стоимости</div>
                        </a>
                        <a href="#to-reviews-block" class="page-header__nav-link" data-text=" Отзывы">
                            <div class="page-header__nav-link-text"> Отзывы</div>
                        </a>
                    </nav>
                    <div class="page-header__menu-contacts">
                        <a href="#" class="page-header__menu-whats-app">
                            <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp">
                                <use xlink:href="#whatsapp"></use>
                            </svg>
                        </a>
                        <div class="page-header__menu-contacts-content">
                            <a href="tel:+74951299226" class="page-header__menu-phone-link">
                                +7 (495) 129-92-26
                            </a>
                            <div class="page-header__menu-free-call">
                                Звонок бесплатный
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-header__contacts-block">

                <a href="tel:+74951299226" class="page-header__phone-link">+7 (495) 129-92-26</a>
                <p class="page-header__phone-link-text">
                    Звонок бесплатный
                </p>
                <a href="#" class="page-header__whats-app-link">
                    <svg width="14" height="14" aria-hidden="true" class="icon-whatsapp">
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>