{{#extend "layout"}}
{{#content "main"}}


<section class="not-found">
    <div class="container">
        <div class="not-found__content">
            <div class="not-found__code">
                404
            </div>
            <div class="not-found__text">
                <h1 class="not-found__heading">
                    Страница не найдена
                </h1>
                <div class="not-found__text">
                    <p>
                        Возможно, страница была удалена
                        или никогда не существовала
                        Проверьте правильность адреса
                    </p>
                </div>
                <a href="#" class="btn btn--white not-found__link">
                    Вернуться на главную
                </a>
            </div>
        </div>
    </div>
</section>

{{/content}}
{{/extend}}